<h1>@ViewData["DetailsTitle"]</h1>

<h3>The details about the pizza with ID:@ViewBag.Id are:</h3>

<ul>
    <li>Name: @ViewBag.Name</li>
    <li>Size: @ViewBag.PizzaSize</li>
    <li>Price: @ViewBag.Price</li>

</ul>

